---
apiVersion: eevee.bot/v1alpha1
kind: ConnectorIrc
metadata:
  name: connector-irc
  namespace: my-eevee-bot
spec:
  # Number of connector-irc replicas to deploy
  # NOTE: only 1 is supported at this time
  size: 1

  # Override container image
  containerImage: ghcr.io/eeveebot/connector-irc:latest

  # Override pull policy
  # Defaults to IfNotPresent
  pullPolicy: Always

  # Setup IRC Connections
  ircConnections:
  - name: eeveebot
    irc:
      host: localhost
      port: 6667
      ssl: true
      autoReconnect: true
      autoReconnectWait: 5000
      autoReconnectMaxRetries: 10
      autoRejoin: true
      autoRejoinWait: 5000
      autoRejoinMaxRetries: 5
      pingInterval: 30
      pingTimeout: 120

    ident:
      nick: eevee
      username: eevee
      gecos: eevee.bot
      version: "0.4.20"
      quitMsg: "eevee 0.4.20"

    postConnect:
      join:
        - sequence: 1
          channel: '#eevee'
          password: ''
